*  {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto Mono', serif;
}

body {
    padding: 20px;
    width: 60%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline-block;
}

h1 {
    padding: 30px;
}

textarea {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    resize: none;
    width: 100%;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    margin: auto;
}
.text-box {
    width: 100%;
    margin: 15px 0;
}

.text-box > * {
    display: block;
    padding-bottom: 10px;
}

.btn-box {
    width: 100%;
    margin-bottom: 20px 0;
}

.btn {
    display: inline-block;
    padding: 20px 35px;
    margin: 15px;
    background: #678;
    cursor: pointer;
}

.btn:hover {
    background: #aaa;
}